@font-face {
  font-family: 'futura-pt';
  src: url('../assets/fonts/Futura-pt/FuturaPTMedium.otf') format('opentype');
}

@font-face {
  font-family: 'futura-pt-light';
  src:  url('~/assets/fonts/Futura-pt/FuturaPTLight.otf') format('opentype');
}